# Python

**pycache**/
*.pyc

# Virtual env

.venv/

# Environment

.env

# ML models

models/
*.keras

# Data & outputs

data/
outputs/

# Uploads

static/uploads/

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db
